<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.1" targetFramework="net40-Client" />
  <package id="Microsoft.Data.OData" version="5.6.1" targetFramework="net40-Client" />
  <package id="Microsoft.Data.Services.Client" version="5.6.1" targetFramework="net40-Client" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="1.8.0.0" targetFramework="net40-Client" />
  <package id="Newtonsoft.Json" version="6.0.2" targetFramework="net40-Client" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net40-Client" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net40-Client" />
  <package id="System.Spatial" version="5.6.1" targetFramework="net40-Client" />
  <package id="WindowsAzure.Storage" version="3.1.0.1" targetFramework="net40-Client" />
</packages>